/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* Header 스타일 */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2e3b4e;
    color: white;
    height: 50px;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.language-selector {
    border: none;
    background-color: #34495E;
    color: #ECF0F1;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.language-selector:hover {
    background-color: #3B5998;
}

/* main-layout 스타일 */
.main-layout {
    display: flex;
    flex: 1;
    height: calc(100vh - 50px); /* Header 높이를 제외한 영역 차지 */
    overflow: hidden;
}

/* Sidebar 및 Controller 스타일 */
.sidebar-container {
    display: flex;
    transition: transform 0.3s ease;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, width 0.3s ease;
}

.sidebar-menu-wrapper {
    border-radius: 4px;
    max-height: 80%;
    overflow-y: auto;
}

.sidebar-menu-wrapper::-webkit-scrollbar {
    width: 8px;
}

.sidebar-menu-wrapper::-webkit-scrollbar-track {
    background: #2C3E50;
}

.sidebar-menu-wrapper::-webkit-scrollbar-thumb {
    background-color: #34495E;
    border-radius: 4px;
}

.sidebar-menu-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #3B5998;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-100%);
    width: 0;
    padding: 0;
}

.menu-items {
    flex: 1;
}

/* 메뉴 및 서브메뉴 스타일 */
.menu-title {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.menu-title:hover {
    background-color: #34495E;
}

.arrow {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(90deg);
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding-left: 20px;
    margin-top: 4px;
}

.submenu.open {
    max-height: 100vh;
    padding-left: 20px;
}

.menu-title.root-menu {
    background-color: #3a6093;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 10px;
}

/* SidebarController */
.sidebar-controller {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #087eed;
    color: #ECF0F1;
    padding: 5px 8px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
    z-index: 1001;
    opacity: 0.5;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.sidebar-container:hover .sidebar-controller {
    opacity: 1;
}

.sidebar-controller:hover {
    background-color: #2563de;
}

/* Content 스타일 */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 탭 컨테이너 */
.tabs {
    display: flex;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap; /* 탭들이 한 줄에 유지되도록 설정 */
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 3px 0;
    z-index: 999;
    /* scrollbar-width: thin; Firefox용 얇은 스크롤바 - 필요시 주석 해제 */
}

/* 스크롤바 커스터마이징 */
.tabs::-webkit-scrollbar {
    height: 6px; /* 스크롤바 높이 설정 */
}

.tabs::-webkit-scrollbar-track {
    background: #f0f0f0; /* 스크롤 트랙 색상 */
}

.tabs::-webkit-scrollbar-thumb {
    background-color: #3B5998; /* 스크롤바 색상 */
    border-radius: 4px;
}

.tabs::-webkit-scrollbar-thumb:hover {
    background-color: #2e7dff; /* 스크롤바 호버 시 색상 */
}

/* 개별 탭 스타일 */
.tab {
    padding: 10px 16px;
    color: #555;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4vh;
    font-weight: 500;
    text-align: center;
    white-space: nowrap; /* 탭 텍스트가 한 줄로 유지되도록 설정 */
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
    flex: 0 0 auto; /* 각 탭이 한 줄에 고정되도록 설정 */
}

.tab:hover {
    color: #2e7dff;
}

/* 활성화된 탭 스타일 */
.tab.active {
    color: #2e7dff;
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #2e7dff;
    border-radius: 2px;
}

/* 닫기 버튼 스타일 */
.close-tab {
    margin-left: 8px;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.tab-content {
    height: 100%;
    padding: 10px 0 0 10px;
}

.tab-content-wrapper {
    height: 100%;
}